<html>
    <head>
        <title>This is my blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Olya's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>How to learn Django</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Learn Python with me</p>
        </div>
    </body>
</html>